
/**************** ALL THE SKIES *****************/

.icon-sun-3 {

}
.icon-moon-2 {
	display: none;
	color: white;
}
.sky {
	background-image: linear-gradient(#0DBCF1, #f3fcff);
	width: 100%;
	height: 240px;
	z-index: 1;
}
.sunset {
	background-image: linear-gradient(#01252f, #3f024b, #f6551e, #f6b71e);
	width: 100%;
	height: 500px;
	display: none;
	margin-top: -260px;
	z-index: 2;
}
.nightSky {
	background-image: linear-gradient(#01252f, #33023c);
	width: 100%;
	height: 240px;
	display: none;
	z-index: 3;
}

/**************** STARS - ROTATE IN THE NIGHT SKY*****************/

.stars {
	z-index: 999;
	width: 100%;
	height: 240px;
	overflow: hidden;
	display: none;
}
.star1 {
	height: 5px;
	width: 5px;
	left: 1%;
	top: 2%;
}
.star2 {
	height: 2px;
	width: 2px;
	left: 33%;
	top: 41%;
}
.star3 {
	height: 2px;
	width: 2px;
	left: 54%;
	top: 66%;
}
.star4 {
	height: 5px;
	width: 5px;
	left: 17%;
	top: 58%;
}
.star5 {
	height: 5px;
	width: 5px;
	left: 79%;
	top: 80%;
}
.star6 {
	height: 2px;
	width: 2px;
	left: 1%;
	top: 12%;
}
.star7 {
	height: 2px;
	width: 2px;
	left: 13%;
	top: 14%;
}
.star8 {
	height: 3px;
	width: 3px;
	left: 55%;
	top: 21%;
}
.star9 {
	height: 2px;
	width: 2px;
	left: 27%;
	top: 8%;
}
.star10 {
	height: 2px;
	width: 2px;
	left: 59%;
	top: 50%;
}
.star11 {
	height: 5px;
	width: 5px;
	left: 71%;
	top: 62%;
}
.star12 {
	height: 3px;
	width: 3px;
	left: 73%;
	top: 14%;
}
.star13 {
	height: 2px;
	width: 2px;
	left: 85%;
	top: 86%;
}
.star14 {
	height: 3px;
	width: 3px;
	left: 57%;
	top: 68%;
}
.star15 {
	height: 2px;
	width: 2px;
	left: 49%;
	top: 30%;
}
.star16 {
	height: 5px;
	width: 5px;
	left: 81%;
	top: 12%;
}
.star17 {
	height: 2px;
	width: 2px;
	left: 33%;
	top: 84%;
}
.star18 {
	height: 2px;
	width: 2px;
	left: 45%;
	top: 26%;
}
.star19 {
	height: 3px;
	width: 3px;
	left: 37%;
	top: 98%;
}
.star20 {
	height: 3px;
	width: 3px;
	left: 39%;
	top: 50%;
}



/**************** TREE 1 - ON THE FAR LEFT *****************/

.roots {
	width: 0;
	height: 0;
	border-left: 100px solid rgba(255, 255, 255, 0);
	border-right: 100px solid rgba(255, 255, 255, 0);
	border-bottom: 50px solid #9a3f18;
	outline: 1px solid transparent;
	margin-left: 51px;
}
.trunk {
	background-color: #9a3f18;
	height: 250px;
	width: 35px;
	margin-left: 133px;
	margin-bottom: -50px;
}
.bottomLeaves {
	width: 0;
	height: 0;
	border-left: 150px solid rgba(255, 255, 255, 0);
	border-right: 150px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #175402;
	outline: 1px solid transparent;
	margin-bottom: -130px;
	z-index: -1;
}
.lowerMiddleLeaves {
	width: 0;
	height: 0;
	border-left: 135px solid rgba(255, 255, 255, 0);
	border-right: 135px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #127700;
	outline: 1px solid transparent;
	margin-left: 15px;
	margin-bottom: -75px;
	z-index: 1;
}
.upperMiddleLeaves {
	width: 0;
	height: 0;
	border-left: 115px solid rgba(255, 255, 255, 0);
	border-right: 115px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #278c04;
	outline: 1px solid transparent;
	margin-left: 35px;
	margin-bottom: -75px;
	z-index: 2;
}
.topLeaves {
	width: 0;
	height: 0;
	border-left: 100px solid rgba(255, 255, 255, 0);
	border-right: 100px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #2faa19;
	outline: 1px solid transparent;
	margin-left: 55px;
	margin-bottom: -75px;
	z-index: 3;
}

/**************** THE FIRE IN THE MIDDLE  *****************/
.fireRing {
	width: 150px;
	background-color: #986028;
	border-radius: 50%;
	margin-left: -63px;
	margin-top: -25px;
}
.rock1 {
	width: 40px;
	height: 30px;
	background-color: #4b4b4b;
	border-radius: 50%;
	margin-left: -15px;
	z-index: -2;
}
.rock2 {
	width: 30px;
	height: 20px;
	background-color: #9a9a9a;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: -40px;
	z-index: -1;
}
.rock3 {
	width: 40px;
	height: 30px;
	background-color: #585858;
	border-radius: 50%;
	margin-left: 35px;
	margin-top: -30px;
	z-index: -2;
}
.rock4 {
	width: 40px;
	height: 50px;
	background-color: #787878;
	border-radius: 50%;
	margin-left: 70px;
	margin-top: -40px;
	z-index: -1;
}
.rock5 {
	width: 40px;
	height: 30px;
	background-color: #a1a1a1;
	border-radius: 50%;	
	margin-left: 105px;
	margin-top: -40px;
	z-index: -1;
}
.rock6 {
	width: 20px;
	height: 20px;
	background-color: #4b4b4b;
	border-radius: 50%;
	margin-left: 135px;
	margin-top: -15px;
	z-index: -1;
}
.rock7 {
	width: 30px;
	height: 35px;
	background-color: #838383;
	border-radius: 50%;
	margin-left: 145px;
	margin-top: -10px;
	z-index: -1;
}
.rock8 {
	width: 40px;
	height: 30px;
	background-color: #585858;
	border-radius: 50%;
	margin-left: 125px;
	margin-top: -10px;
	z-index: 0;
}
.rock9 {
	width: 55px;
	height: 35px;
	background-color: #787878;
	border-radius: 50%;
	margin-left: 80px;
	margin-top: -22px;
	z-index: 0;
}
.rock10 {
	width: 40px;
	height: 30px;
	background-color: #a1a1a1;
	border-radius: 50%;	
	margin-left: 45px;
	margin-top: -30px;
	z-index: 0;
}
.rock11 {
	width: 25px;
	height: 30px;
	background-color: #4b4b4b;
	border-radius: 50%;	
	margin-left: 25px;
	margin-top: -37px;
	z-index: 0;
}
.rock12 {
	width: 20px;
	height: 15px;
	background-color: #9a9a9a;
	border-radius: 50%;	
	margin-left: 8px;
	margin-top: -30px;
	z-index: 0;
}
.rock13 {
	width: 30px;
	height: 30px;
	background-color: #787878;
	border-radius: 50%;	
	margin-left:-20px;
	margin-top: -30px;
	z-index: 0;
}
.fire1Wrapper {
	margin-top: -150px;
	z-index: 1;
}
.log1 {
	width: 25px;
	height: 75px;
	transform: skew(50deg);
	-webkit-transform: skew(50deg);
	-moz transform: skew(50deg);
	-o-transform: skew(50deg);
	background: #6b3702;
}
.log2 {
	width: 25px;
	height: 75px;
	transform: skew(-50deg);
	-webkit-transform: skew(-50deg);
	-moz transform: skew(-50deg);
	-o-transform: skew(-50deg);
	background: #87521d;
	margin-bottom: -75px;
}

.log3 {
	width: 18px;
	height: 75px;
	background-color: #47290a;
	z-index: -1;
	margin-bottom: -75px;
	margin-left: 3px;
}
.flame1 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 #f1420d;
	margin-bottom: -30px;
	margin-left: -25px;
	z-index: -1;
}
.flame2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: -15px 15px 0 0 #fc941d;
	margin-bottom: -80px;
	margin-left: -30px;
	z-index: -1;
}
.flame3 {
	width: 100px;
	height: 115px;
	border-radius: 50%;
	box-shadow: 25px 25px 0 0 #ffc648;
	margin-bottom: -75px;
	margin-left: -64px;
	z-index: -2;
}
.flame4 {
	width: 100px;
	height: 115px;
	border-radius: 50%;
	box-shadow: -30px 15px 0 0 #ffea80;
	margin-bottom: -115px;
	margin-left: -8px;
	z-index: -3;
}
.flame5 {
	width: 50px;
	height: 100px;
	background-color: #feffa4;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-bottom: -115px;
	margin-left: -12px; 
	z-index: -2;
}
.flameLight {
	height: 110px;
	width: 75px;
	border-radius: 50%;
	box-shadow: 0 0 45px 50px #fff8a4;
	left: -30px;
	top: -145px;
	z-index: 0;
	display: none;
}
.contentWrap {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 99;
}

/**************** BUSH *****************/

.branchPiece {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	outline: 1px solid transparent;
	background-color: green;
	z-index: 3;
}
.bushBranch2 {
	left: 50px;
}
.bushBranch3 {
	left: 100px;
}
.bushBranch4 {	
	left: 20px;
	top: -40px;
}
.bushBranch5 {
	left: 85px;
	top: -40px;
}
.berry {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	outline: 1px solid transparent;
	z-index: 4;
	background-color: red;
}
.berry1 {
	left: 50px;
}
.berry2 {
	left: 100px;
}
.berry3 {
	left: 150px;
	top: -25px;
}
.berry4 {
	left: 45px;
	top: 15px;
}
.berry5 {
	left: 125px;
	top: 5px;
}
.berry6 {
	left: 175px;
}
.berry7 {
	left: 85px;
	top: 15px;
}
.berry8 {
	left: 140px;
	top: -5px;
}
.berry9 {
	left: 130px;
	top: 5px;
}
.berry10 {
	left: 25px;
	top: 15px;
}