
.icon-moon:before { content: '\e800'; } /* '' */
.icon-sun:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-squared:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-git:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */
.icon-git-squared:before { content: '\e808'; } /* '' */
.icon-linkedin-squared:before { content: '\e809'; } /* '' */
.icon-facebook-official:before { content: '\e80a'; } /* '' */
.icon-facebook-squared:before { content: '\e80b'; } /* '' */
.icon-mail-1:before { content: '\e80c'; } /* '' */
.icon-star-empty-1:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-github-1:before { content: '\e80f'; } /* '' */
.icon-github-circled:before { content: '\e810'; } /* '' */
.icon-facebook-circled:before { content: '\e811'; } /* '' */
.icon-linkedin-circled:before { content: '\e812'; } /* '' */
.icon-instagram:before { content: '\e813'; } /* '' */
.icon-star-1:before { content: '\e814'; } /* '' */
.icon-star-filled:before { content: '\e815'; } /* '' */
.icon-picture:before { content: '\e816'; } /* '' */
.icon-picture-outline:before { content: '\e817'; } /* '' */
.icon-feather:before { content: '\e818'; } /* '' */
.icon-cloud-sun:before { content: '\e819'; } /* '' */
.icon-sun-1:before { content: '\e81a'; } /* '' */
.icon-sun-filled:before { content: '\e81b'; } /* '' */
.icon-github-2:before { content: '\e81c'; } /* '' */
.icon-github-circled-1:before { content: '\e81d'; } /* '' */
.icon-facebook-circled-1:before { content: '\e81e'; } /* '' */
.icon-moon-1:before { content: '\e81f'; } /* '' */
.icon-moon-inv:before { content: '\e820'; } /* '' */
.icon-sun-2:before { content: '\e821'; } /* '' */
.icon-sun-inv:before { content: '\e822'; } /* '' */
.icon-mail-2:before { content: '\e823'; } /* '' */
.icon-facebook-rect:before { content: '\e824'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e825'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e826'; } /* '' */
.icon-moon-2:before { content: '\e827'; } /* '' */
.icon-sun-3:before { content: '\e828'; } /* '' */
.icon-eclipse:before { content: '\e829'; } /* '' */
.icon-cloud-sun-1:before { content: '\e82a'; } /* '' */
.icon-cloud-moon:before { content: '\e82b'; } /* '' */
.icon-github-3:before { content: '\e82c'; } /* '' */
.icon-github-circled-2:before { content: '\e82d'; } /* '' */
.icon-facebook-circled-2:before { content: '\e82e'; } /* '' */
.icon-twitter:before { content: '\e82f'; } /* '' */
.icon-github-circled-3:before { content: '\e830'; } /* '' */
.icon-facebook-rect-1:before { content: '\e831'; } /* '' */
.icon-github-4:before { content: '\e832'; } /* '' */
.icon-linkedin-rect:before { content: '\e833'; } /* '' */
.icon-linkedin:before { content: '\e834'; } /* '' */
.icon-mail-3:before { content: '\e835'; } /* '' */
.icon-tumblr-rect:before { content: '\e836'; } /* '' */
.icon-mail-4:before { content: '\e837'; } /* '' */
.icon-github-squared:before { content: '\e838'; } /* '' */
.icon-instagram-1:before { content: '\e839'; } /* '' */
.icon-facebook-squared-1:before { content: '\e83a'; } /* '' */
.icon-tumblr-circled:before { content: '\e83b'; } /* '' */