#one {
	font-family: 'Maven Pro', sans-serif;
	font-size: 50px;
}
#two {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
}
#three {
	font-family: 'Pompiere', cursive;
	font-size: 50px;
}
#four {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 50px;
}