.piece,
.absolute {
	position: absolute;
}
.wrap,
.relative {
	position: relative;
}
.fixed {
	position: fixed;
}
.padding {
	padding: 20px;
}
html, body {
	height: 100%;
}
.border {
	border: 1px solid black;
}
.inline {
	display: inline-block;
}
.borderBox {
	box-sizing: border-box;
}
.circle {
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 15px 1px white;
}
.floatRight {
	float: right;
}
img {
	width: 100%;
}
.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
	color: white;
	font-size: 25px;
	text-decoration: none;
	margin: 0 5px;
	outline: 0;
}
a:hover {
	color: #fffabe;
}
i {
	z-index: 999;
	font-size: 25px;
	cursor: pointer;
}

/* Fonts */

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	text-shadow: #7c7c7c 0 0 5px;
	font-size: 5rem;
	cursor: pointer;
}
a,
h2,
h3 {
	font-family: 'PT Sans', sans-serif;
}
p {
	font-family: "Maven Pro",sans-serif;
}

/**************** THE BUTTON TO CHANGE THE TIME *****************/

.changeTime {
	width: 60px;
	height: 60px;
	padding: 6px;
	text-align: center;
	background-color: #6dd6f6;
	position: absolute;
	z-index: 999;
	margin: 40px;
	border-radius: 25%;
	border: 2px solid white;
}
.iconWrap {
	width: 100%;
	height: 100%;
	background-color: #6dd6f6;
	border-radius: 25%;
	border: 1px solid white;
	color: white;
}
.icon-moon-2 {
	display: none;
}

/**************** THE OVERALL PICTURE *****************/

.landingWrap {
	width: 100%;
	height: 100vh;
}
.darknessWrap {
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: 0.4;
	position: absolute;
	z-index: 10;
	display: none;
}
.topLeaves {
}
.treesWrap {
	background-color: #66b04c;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.skyWrap {
	width: 100%;
	height: 240px;
	z-index: 1;
	overflow: hidden;
}
.stream {
	width: 300px;
	height: 100%;
	border-radius: 50%;
	box-shadow: 115px 55px 0 0 #3496c5;
	margin: 40px 0 0 250px;
	z-index: 0;
}
.fire {
	left: 50%;
	margin-left: -10px;
	z-index: 20;
	bottom: 25%;
}
.bush1 {
	margin: 150px 0 0 450px;
	z-index: 2;
	display: none;
}
.contentWrap {
	text-align: center;
	padding-bottom: 50px;
	z-index: 1;
}


/**************** Navigaton Bar *****************/

header {
	width: 100%;
	text-align: center;
	width: 100%;
	top: 275px;
	z-index: 99;
	position: fixed;
}
nav {
	background-color: gray;
	opacity: 0.8;
}
.jumpPoint {
	margin-top: -90px;
	padding-top: 90px;
}

/**************** banner transition  *****************/

h1, nav {
	transition: all 0.5s ease;
}
header {
	transition: background-color 0.5s ease;
}

/**************** tear icons  *****************/

.tear {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	-webkit-border-radius: 80% 0 55% 50%/ 55% 0 80% 50%;
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	font: normal 100%/normal Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	-webkit transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}
.match, .drop, .leaf {
	margin-left: auto;
	margin-right: auto;
}
.titleWrap {
	margin: 30px;
}

/**************** ABOUT ME PAGE  *****************/

.aboutWrap {
	background-color: #fc941d;
}
.matchFlame1 {
	width: 40px;
	height: 40px;
	background-color: #feffa4;
}
.matchFlame2 {
	width: 25px;
	height: 25px;
	background-color: #f1420d;
	margin-top: -25px;
}
.matchStick {
	width: 5px;
	height: 20px;
	background-color: #6b3702;
}

/**************** PROJECTS PAGE  *****************/

.projectsWrap {
	background-color: #3496c5;
}
.droplet {
	width: 60px;
	height: 60px;
	background-color: #82c9ec;
	z-index: -1;
}
.shine {
	width: 30px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 5px 5px 0 0 #cceaf9;
	margin-top: -50px;
	z-index: 1;
}
.project {
	margin-bottom: 25px;
}
.previewPic {
	width: 100%;
	height: auto;
	border: 1px solid black;
	float: right;

}
.opaqueOverlay {
	opacity: 0.2;
	background-color: white;
}
.leftArrow {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 25px solid #85c0dc;
	border-bottom: 25px solid transparent;
	cursor: pointer;
	margin-right: 10px;
}
.rightArrow {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 25px solid #d6eaf3;
	border-bottom: 25px solid transparent;
	cursor: pointer;
	margin-left: 10px;
}
.marvelRight {
	border-left: 25px solid #85c0dc;
}
.marvelLeft, .marvelRight {
	display: none;
}
.projectTools {
	font-weight: bold;
}
.shadowbox {
	background-color: rgba(39, 40, 34, 0.8);
	display: none;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 1000;
	text-align: center;
	vertical-align: middle;
}
.shadowbox::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
}
.enlargedPic {
	max-width: 80%;
	height: auto;
	border: 5px solid black;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/**************** CONTACT ME WRAP  *****************/

.contactWrap {
	background-color: #2faa19;
	height: calc(100vh - 90px);
}
.leafBody {
	width: 50px;
	height: 50px;
	background-color: #127700;
	z-index: -1;
}
.stem {
	width: 5px;
	height: 10px;
	background-color: #127700;
}
.vein {
	width: 5px;
	height: 40px;
	background-color: #175402;
	margin-top: -50px;
	border-radius: 50% 50% 0 0;
	z-index: 1;
}
.mediaLink {
	margin: 0 5px;
}
