.piece {
	position: absolute;
}
.wrap {
	position: relative;
}
html, body {
	height: 100%;
}

/**************** THE OVERALL PICTURE *****************/
.treesWrap {
	background-color: #66b04c;
	width: 100%;
	height: 100%;
}
.sky {
	background-image: linear-gradient(#0DBCF1, #f3fcff);
	width: 100%;
	height: 240px;
	z-index: 1;
}
.stream {
	background-color: #3496c5;
	width: 100px;
	height: 100%;
	left: 500px;
	transform: skew(-10deg);
	z-index: 0;
}
.fire {
	margin-left: 50%;
	margin-top: 275px;
	z-index: 3;
}
.tree1 {
	left: 2%;
	z-index: 2;
}

/**************** TREE 1 - ON THE FAR LEFT *****************/
.trunk {
	background-color: #9a3f18;
	height: 250px;
	width: 35px;
	margin-left: 137px;
	margin-top: 125px;
}
.roots {
	width: 0;
	height: 0;
	border-left: 100px solid rgba(255, 255, 255, 0);
	border-right: 100px solid rgba(255, 255, 255, 0);
	border-bottom: 50px solid #9a3f18;
	outline: 1px solid transparent;
	margin-left: 55px;
	margin-top: 350px;
}
.bottomLeaves {
	width: 0;
	height: 0;
	border-left: 150px solid rgba(255, 255, 255, 0);
	border-right: 150px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #175402;
	outline: 1px solid transparent;
	margin-top: 200px;
	z-index: -1;
}
.lowerMiddleLeaves {
	width: 0;
	height: 0;
	border-left: 135px solid rgba(255, 255, 255, 0);
	border-right: 135px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #127700;
	outline: 1px solid transparent;
	margin-left: 15px;
	margin-top: 150px;
	z-index: 1;
}
.upperMiddleLeaves {
	width: 0;
	height: 0;
	border-left: 115px solid rgba(255, 255, 255, 0);
	border-right: 115px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #278c04;
	outline: 1px solid transparent;
	margin-left: 35px;
	margin-top: 100px;
	z-index: 1;
}
.topLeaves {
	width: 0;
	height: 0;
	border-left: 100px solid rgba(255, 255, 255, 0);
	border-right: 100px solid rgba(255, 255, 255, 0);
	border-bottom: 125px solid #2faa19;
	outline: 1px solid transparent;
	margin-left: 55px;
	margin-top: 50px;
	z-index: 1;
}

/**************** THE FIRE IN THE MIDDLE  *****************/
.log1 {
	width: 25px;
	height: 75px;
	transform: skew(50deg);
	-webkit-transform: skew(50deg);
	-moz transform: skew(50deg);
	-o-transform: skew(50deg);
	background: #6b3702;
	margin-top: 100px;
	margin-left: 75px;
}
.log2 {
	width: 25px;
	height: 75px;
	transform: skew(-50deg);
	-webkit-transform: skew(-50deg);
	-moz transform: skew(-50deg);
	-o-transform: skew(-50deg);
	background: #87521d;
	margin-top: 100px;
	margin-left: 50px;
}

.log3 {
	width: 18px;
	height: 75px;
	background-color: #47290a;
	margin-left: 67px;
	margin-top: 100px;
	z-index: -1;
}
.flame1 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 #f1420d;
	margin-left: 35px;
	margin-top: 40px;
	z-index: -1;
}
.flame2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: -15px 15px 0 0 #fc941d;
	margin-left: 30px;
	margin-top: 40px;
	z-index: -1;
}
.flame3 {
	width: 100px;
	height: 115px;
	border-radius: 50%;
	box-shadow: 25px 25px 0 0 #ffc648;
	margin-left: -10px;
	margin-top: -3px;
	z-index: -2;
}
.flame4 {
	width: 100px;
	height: 115px;
	border-radius: 50%;
	box-shadow: -30px 15px 0 0 #ffea80;
	margin-left: 57px;
	z-index: -2;
}
.flame5 {
	width: 50px;
	height: 100px;
	background-color: #feffa4;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	z-index: -3;
	margin-left: 50px;
	margin-top: 15px;
}