@media only screen and (min-width: 360px) {
	.headerLink {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (min-width: 480px) {
	.topLeaves {
	}

}
@media only screen and (min-width: 650px) {
	.star4 {
		left: 35%;
	}
	h1 {
		font-size: 7rem;
	}
	.previewPic {
		float: none;
		width: 75%;
	}
}
@media only screen and (min-width: 780px) {
	.topLeaves {
	}

	.stream {
		left: 5%;
	}
	.star4 {
		left: 30%;
	}
	.previewPic {
		cursor: pointer;
	}
}
@media only screen and (min-width: 992px) {
	.topLeaves {
	}
	.stream {
		left: 15%;
	}
	.tree2 {
		display: block;
	}
	.previewPic {
		width: 50%;
		/* margin: 0 25px 25px 25px; */
		border: 1px solid black;
	}
	.projectSlideshow {
		float: left;
	}
	.star4 {
		left: 25%;
	}
}
@media only screen and (min-width: 1200px) {
	.topLeaves {
	}
	.stream {
		left: 25%;
	}
	.previewPic {
		width: 50%;
	}
}
@media only screen and (min-width: 1450px) {
	.star4 {
		left: 17%;
	}
}
@media only screen and (min-width: 1550px) {
	.topLeaves {
	}
	.stream {
		left: 35%;
	}
}

/******************** VERTICAL HEIGHTS ********************/

@media only screen and (min-height: 250px) {

}
@media only screen and (min-height: 500px) {
	.fire {
	}
}
@media only screen and (min-height: 600px) {
	.fire {
		bottom: 15%;
	}
}

@media only screen and (min-height: 900px) {
	.fire {
		bottom: 35%;
	}
	.tree3 {
		display: block;
	}
}

/******************** DISPLAYING THE FOREST ********************/

@media only screen and (min-width: 650px) and (min-height: 500px) {
	.forest {
		display: block;
	}
}
@media only screen and (min-width: 900px) and (min-height: 500px) {
	.forest2 {
		display: block;
	}
}
@media only screen and (min-width: 1400px) and (min-height: 500px) {
	.forest3 {
		display: block;
	}
}

/******************** LANDSCAPE QUERIES ********************/

@media only screen and (min-width: 479px) and (orientation: landscape) {
	.skyWrap, .stars {
		height: 175px;
	}
	.star4, .star20,  .star3, .star10, .star14 {
		display: none;
	}
	header {
		top: 175px;
	}
}
@media only screen and (min-width: 700px) and (orientation: landscape) {
	.skyWrap, .stars {
		height: 240px;
	}
	.star4, .star20,  .star3, .star10, .star14 {
		display: block;
	}
	header {
		top: 275px;
	}	
}
