@media only screen and (min-width: 360px) {
	.tree1 {
		left: 2%;
	/*}*/
}
@media only screen and (min-width: 480px) {
	.topLeaves {
	}
/*	.fire {
		left: 70%;
	}*/
}
@media only screen and (min-width: 480px) {
/*	.fire {
		left: 50%;
	}*/
}
@media only screen and (min-width: 780px) {
	.topLeaves {
	}
/*	.fire {
		left: 45%;
	}*/
	.stream {
		left: 5%;
	}
}
@media only screen and (min-width: 992px) {
	.topLeaves {
	}
	.stream {
		left: 15%;
	}
	.tree2 {
		display: block;
	}
	.fullPic {
		width: 50%;
		margin: 25px;
		border: 1px solid black;
	}
	.projectSlideshow {
		float: left;
	}
}
@media only screen and (min-width: 1200px) {
	.topLeaves {
	}
	.stream {
		left: 25%;
	}
}
@media only screen and (min-width: 1550px) {
	.topLeaves {
	}
	.stream {
		left: 35%;
	}
}

/******************** VERTICAL HEIGHTS ********************/

@media only screen and (min-height: 350px) {
	
}
@media only screen and (min-height: 500px) {
	.fire {
	}
	.tree1 {
		bottom: 15%;
	}
}
@media only screen and (min-height: 600px) {
	.fire {
		bottom: 15%;
	}
	.tree1 {
		bottom: 25%;
	}
}

@media only screen and (min-height: 900px) {
	.fire {
		bottom: 35%;
	}
	.tree1 {
		bottom: 52%;
	}
	.tree3 {
		display: block;
	}
}
